@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600&display=swap");

:root {
  --gap: 15px;
  --paynes-gray: #545f66;
  --cadet-gray: #829399;
  --mint-green: #d0f4ea;
  --tea-green: #e8fcc2;
  --pistachio: #b1cc74;
  --light-color: #fff;
  --dark-color: #222;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gabarito", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100dvh;
  background: linear-gradient(135deg, deepskyblue, royalblue);
}

.calculator {
  margin-block: auto;
  background-color: var(--paynes-gray);
  width: min(420px, 80%);
  padding: var(--gap);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--gap);
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

.calculator output {
  grid-column: span 4;
  background-color: var(--cadet-gray);
  color: var(--light-color);
  font-size: 2.5rem;
  text-align: end;
  padding: 10px;
  overflow: hidden;
  border-radius: 5px;
}

.calculator button {
  background-color: var(--mint-green);
  color: var(--dark-color);
  border: none;
  cursor: pointer;
  user-select: none;
  padding: 10px;
  font-size: 1.5rem;
  transition: 0.2s;
  border-radius: 5px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
}

.calculator button[data-equals] {
  background-color: var(--pistachio);
  grid-row: span 4;
}

.calculator button[data-operator] {
  background-color: var(--tea-green);
}

.calculator button:hover,
.calculator button:active {
  background-color: var(--dark-color);
  color: var(--light-color);
}
